<div *ngIf="!store">
  <h1 class="mt-2 px-4">Erro ao buscar produtos no banco de dados</h1>
</div>

<div *ngIf="store">
  <div class="container mt-5">
    <h1 class="mb-4">
      Todos os Produtos de <strong>{{ store.name }}</strong>
    </h1>
    <div class="row">
      <div
        *ngFor="let product of store.products"
        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4"
      >
        <div class="card">
          <img
            src="{{ product.image_url }}"
            alt="Produto 1"
            class="card-img-top fixed-size-image p-1"
            style="height: 230px; object-fit: contain"
          />
          <div class="card-body">
            <h5
              class="card-title d-inline-block text-truncate m-0"
              style="max-width: 100%"
            >
              {{ product.title }}
            </h5>
            <p class="m-0">
              <strong>R$ {{ product.price | number : "1.2-2" }}</strong>
            </p>
            <div *ngIf="product.ratings > 0" class="rating d-flex">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                [ngClass]="{
                  filled:
                    star <= calcRoundedStars(product.stars, product.ratings)
                }"
              >
                <i class="fa fa-star"></i>
              </span>
              <p class="mx-2 mb-1">
                {{
                  calcStars(product.stars, product.ratings) | number : "1.1-1"
                }}
              </p>
            </div>
            <p *ngIf="product.ratings <= 0" class="mb-1">sem avaliações</p>
            <p class="mb-1">
              <span class="text-truncate">
                {{ product.ratings }} avaliações
              </span>
              -
              <span class="text-truncate"> {{ product.sold }} vendidos</span>
            </p>
            <a
              href="#"
              [routerLink]="['/product', product.id]"
              class="btn btn-primary mt-2"
              >Ver Detalhes</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
