<ng-container *ngIf="!user">
  <button class="btn btn-primary" (click)="login()">Faça login</button>
</ng-container>

<div *ngIf="user">
  <div class="d-flex flex-row align-items-center">
    <h5 class="text-light m-0 mr-2">Olá, {{ user.name }}</h5>
    <p class="text-light m-0">R$ {{ user.balance | number : "1.2-2" }}</p>

    <button
      class="btn btn-secondary ml-2"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <i class="fa fa-angle-down"></i>
    </button>
    <div
      style="right: 0; top: 100%"
      class="position-absolute bg-dark text-uppercase"
    >
      <div class="collapse p-2" id="collapseExample">
        <ul class="nav flex-column">
          <li class="nav-item menu-item py-1">
            <a class="nav-link active text-white" href="cart"
              ><i class="fa fa-shopping-cart mr-2"></i> carrinho</a
            >
          </li>
          <li class="nav-item menu-item border-top border-secondary py-1">
            <a class="nav-link active text-white" href="cart">
              <i class="fa fa-shopping-bag mr-2"></i> minha loja
            </a>
          </li>
          <li class="nav-item menu-item border-top border-secondary py-1">
            <a class="nav-link active text-white" href="#">
              <i class="fa fa-gear mr-2"></i> configurações</a
            >
          </li>
          <button (click)="quit()" class="btn btn-danger mt-2">SAIR</button>
        </ul>
      </div>
    </div>
  </div>
</div>
