<div *ngIf="product">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-6 mt-5">
        <img
          src="{{ product.image_url }}"
          alt="{{ product.title }}"
          class="img-fluid border mb-2 p-2 w-100 pointer"
        />
      </div>
      <div class="col-md-6 mt-5">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <p>
          Loja:
          <a [routerLink]="['/store', product.store_id]">{{
            product.store.name
          }}</a>
        </p>

        <div *ngIf="product.ratings > 0" class="rating d-flex mb-2">
          <span
            *ngFor="let star of [1, 2, 3, 4, 5]"
            [ngClass]="{
              filled: star <= calcRoundedStars(product.stars, product.ratings)
            }"
          >
            <i class="fa fa-star"></i>
          </span>
          <p class="mx-2 mb-1">
            {{ calcStars(product.stars, product.ratings) | number : "1.1-1" }}
          </p>
        </div>
        <p>
          <span class="text-truncate"> {{ product.ratings }} avaliações </span>
          -
          <span class="text-truncate"> {{ product.sold }} vendidos</span>
        </p>

        <p>
          <strong>R$ {{ product.price | number : "1.2-2" }}</strong>
        </p>
        <p *ngIf="product.quantity > 0">
          Disponível:
          <span class="text-success">{{ product.quantity }} unidades</span>
        </p>
        <p *ngIf="product.quantity <= 0" class="text-danger">
          Produto indisponível
        </p>

        <div
          *ngIf="product.quantity > 0"
          class="d-flex align-items-center mb-3"
        >
          <p class="m-0">Quantidade:</p>
          <div class="d-flex align-items-center ml-2">
            <button
              [disabled]="quantity <= 1"
              (click)="changeQuantity(-1)"
              class="btn p-1 px-2 border mr-1"
            >
              -
            </button>
            <p class="mb-0 py-1 px-2 border rounded">
              {{ quantity }}
            </p>
            <button
              [disabled]="quantity >= product.quantity"
              (click)="changeQuantity(1)"
              class="btn py-1 px-2 border ml-1"
            >
              +
            </button>
          </div>
        </div>

        <p *ngIf="product.quantity > 0">
          Total:
          <strong>R$ {{ product.price * quantity | number : "1.2-2" }}</strong>
        </p>

        <div
          *ngIf="added"
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <strong
            >Adicionado {{ addedQuantity }}x ao carrinho com sucesso!</strong
          >
        </div>

        <div
          *ngIf="errorMessage"
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong>{{ errorMessage }}</strong>
        </div>

        <div *ngIf="productInCart" class="border rounded p-2 mb-2 bg-light">
          <p class="mb-1">
            <strong>Esse produto já se encontra em seu carrinho.</strong>
          </p>
          <p class="mb-1">
            Quantidade: <strong>{{ productInCart.quantity }}</strong>
          </p>
          <p class="mb-1">
            Preço total:
            <strong>R$ {{ productInCart.price | number : "1.2-2" }}</strong>
          </p>
        </div>

        <p *ngIf="!isLogged" class="text-danger">
          Faça o login para poder adicionar o produto ao carrinho.
        </p>
        <div class="d-flex flex-column">
          <button
            [disabled]="!isLogged || product.quantity <= 0"
            (click)="addToCart()"
            class="btn btn-success mb-2"
          >
            <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
          </button>

          <button
            [disabled]="!isLogged"
            [routerLink]="'/cart'"
            class="btn btn-primary mb-2"
          >
            <i class="fa fa-shopping-cart"></i> Ir para carrinho
          </button>

          <a href="/products" class="btn btn-info">
            <i class="fa fa-search"></i> Continuar pesquisando
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!product" class="text-center mb-5">
  <div class="mb-5">
    <h1 class="mb-5">Produto não encontrado.</h1>
  </div>
</div>
