<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-light">
        <h4 class="card-header">Registrar-se</h4>
        <div class="card-body">
          <form
            [formGroup]="form"
            (submit)="register()"
            class="bg-light p-3 rounded"
          >
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

            <div class="form-group">
              <label for="name">Nome:</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Senha:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="password"
              />
              <div
                *ngIf="form.get('password')?.hasError('pattern')"
                class="text-danger"
              >
                A senha deve conter pelo menos 8 caracteres, incluindo uma letra
                maiúscula, uma letra minúscula e um número.
              </div>
            </div>
            <div class="form-group">
              <label for="address">Endereço:</label>
              <input
                id="address"
                class="form-control"
                formControlName="address"
              />
            </div>
            <div class="text-center d-flex flex-column">
              <button type="submit" class="btn btn-primary mt-2">
                Registrar
              </button>
              <a class="mt-2" href="/login"
                >Já possui uma conta? Faça o login!</a
              >
              <a class="mt-2" (click)="back()" style="cursor: pointer"
                >voltar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
