<div *ngIf="store" class="container mt-5">
  <h1>{{ store.name }}</h1>
  <h3 *ngIf="sales" class="mb-3">Todas as vendas da loja</h3>
  <h5 *ngIf="!sales" class="mb-3">Sua loja ainda não fez nenhuma venda.</h5>
  <button
    *ngIf="sales && !showTotal"
    (click)="showTotal = true"
    class="btn btn-light border mb-0 w-100"
  >
    Mostrar soma do valor de todos os produtos já vendidos
  </button>
  <button
    *ngIf="sales && showTotal"
    (click)="showTotal = false"
    class="btn btn-light border mb-0 w-100"
  >
    <strong> R$ {{ calcAllSalesPrice() | number : "1.2-2" }} </strong>
  </button>

  <ul class="list-group mt-0">
    <li *ngFor="let sale of sales" class="row border rounded mt-2 py-3 mx-0">
      <div class="col-md-2">
        <a href="product/{{ sale.product.id }}">
          <img
            src="{{ sale.product.image_url }}"
            alt="{{ sale.product.title }}"
            class="img-thumbnail"
          />
        </a>
      </div>

      <div class="col-md-6">
        <a class="text-dark" href="product/{{ sale.product.id }}">
          <h4>{{ sale.product.title }}</h4>
        </a>
      </div>

      <div class="text-start col-md-2">
        <strong><p class="mb-0">Comprador:</p></strong>
        <strong>
          <p>{{ sale.historic.user.name }}</p>
        </strong>
      </div>

      <div class="text-start col-md-2">
        <p class="mb-0">
          <strong>
            {{ sale.quantity }}
            <span *ngIf="sale.quantity < 2"> unidade</span>
            <span *ngIf="sale.quantity >= 2"> unidades</span>
          </strong>
        </p>
        <p class="mb-0">
          <strong>R$ {{ sale.price | number : "1.2-2" }}</strong>
        </p>
        <strong>
          <p class="mb-0">
            {{ sale.historic.created_at | date : "dd/MM/yyyy" }}
          </p>
        </strong>
      </div>
    </li>
  </ul>
</div>
